.card {
    width: 320px;
    min-height: 400px;
    border: 12px solid #cca362;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 12px;
    background-color: #cca362;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.picture-section {
    height: 300px;
    position: relative;
}
.picture {
    width: 320px;
    height: 300px;
}
.logo {
    padding: 15px 2px 2px 2px;
}
.logo-pic {

    width: 40px;
    height: auto;
}
.info {
    padding: 5px;
    color: #2d3748;
    position: relative;
}
.text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2px;
}
.price {
    font-size: 20px;
    font-weight: bold;
}
b {
    font-weight: bold;
}
.address {
    font-weight: bold;
    margin-bottom: 2px;
}
.company {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    font-family: pixel;
}
a {
    text-decoration: none;
}
.card-area {
    display: flex;
    flex-wrap: wrap;
}
.emoji {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
}
.name {
    position: absolute;
    right: 0;
    padding: 0 15px 0 0;
    font-family: protomo-fill;
    font-size: 6em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.place {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px 0 0;
    font-family: protomo-fill;
    font-size: 4em;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
}
@font-face {
    font-family:'protomo-fill';
    src: url(https://dl.dropbox.com/s/p7waq4bof8ne0qt/Protomo.otf);
}
#protomo-fill {
    font-family:'protomo-fill';
    font-size: 3em;
}

@font-face {
    font-family: pixel;
    src: url(https://dl.dropbox.com/s/kmhe7d3n18vdz5e/w95fa.woff?dl=0);
}
pixel {
    font-family: pixel;
}